<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ho.practice.shardmybatis.dao.ShardTestDAO">

    <insert id="insertData" parameterType="com.ho.practice.shardmybatis.dto.DataDto" useGeneratedKeys="true" keyColumn="seq" keyProperty="seq">
        INSERT INTO tblData
        (
            seq,
            mainSeq,
            txt,
            tid,
            isDelete,
            isReport
        )
        VALUES
            (
                null,
                #{mainSeq},
                #{txt},
                #{tid},
                #{isDelete},
                #{isReport}
            )
    </insert>

    <select id="selectDataDetailPagingSeq" parameterType="Map" resultType="String">
        SELECT R1.* FROM (
        SELECT   DISTINCT
        r.seq
        FROM   tblData r
        WHERE   1=1
        AND   r.isDelete != 1
        AND   r.mainSeq = #{mainSeq}
        AND r.seq <![CDATA[ <= ]]> ${seq}
        ORDER BY r.seq DESC
        ) R1 LIMIT #{start}, #{length}
    </select>

</mapper>